Repository kevku/warmup-exercise, pull requests merged in 2024-04, with the labels that each got.

#9 Table screen fix
  calendar/index.html
  calendar/script.js
  calendar/style/main.css
  calendar/style/var.css
Labels: html, js

#10 Note popup js
  calendar/index.html
  calendar/script.js
  calendar/style/main.css
  calendar/style/var.css
Labels: js, calendar

#13 made local storage to work
  calendar/script.js
Labels: js

#14 Calendar branch
  .vscode/settings.json
  calendar/index.html
  calendar/script.js
  calendar/style/main.css
  calendar/style/var.css
Labels: calendar
